html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.App {
  min-height: 100vh;
}

/* navigation */

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  height: 80px;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.categories > li {
  padding: 40px 0px;
  text-align: center;
}
.current-currency {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.cart-currency {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.dropdown-currencies {
  position: absolute;
  padding: 15px;
  top: 75%;
  left: -150%;
  cursor: pointer;
  text-align: center;
  display: none;
}
.dropdown-currencies > * {
  padding: 10px;
}
.currency-options {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.dropdown-currencies > *:hover {
  background-color: #eeeeee;
}
/* category - products */

.category-container {
  margin-top: 20px;
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  gap: 90px;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.product-card > img {
  width: 350px;
  height: 320px;
}
